<h2>Search Courses</h2>
<form action="/courses" method="GET">
    <label>Course ID</label>
    <input type="text" name="name" value="<%= searchOptions.name%>">
    <button type="submit">Search</button>
</form>
<br>
<% courses.forEach(course =>{%>
    <div><%= course.name%></div>
    <a href="/courses/<%= course.id %>">View</a>
    <a href="/courses/<%= course.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
    {url: `/courses/${course.id}`})%>
<%})%>